/*nav {
    z-index: 99999;
    position: fixed;
    top: 0;
    height: 15vh;
    line-height: 15vh;
    width: 100%;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background: rgba(255, 255, 255, .95);
    box-shadow: 0 0 10px #4b4b4b;
    -webkit-transition: .5s;
    transition: .5s;
}


/*.wrapper {
  background: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%232f4b90' fill-opacity='0.76' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-color: #FFFFFF;

}*/



/*
.row {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}*/



/* button */


/*.buttons:hover{
    border:1px solid #1c5675;
    background-color: #26759e;
}

.buttons {
  background-color: #4CAF50;
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
}*/




/* holder */

/*#holder{
  float: left;
  height: 200px;
  width: 100px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background: white;
  padding: 10px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
  border-radius: 2px;
/*}*/

/*.background {
  background: url(/assets/1.png)repeat #00a9ff  0px 0px;
   background-attachment: fixed;
}*/

.background .navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #88BBD6;

}

.row.content {height: 450px}


.background .navbar-inverse {
     padding-top: 20px;
     background-color: #88BBD6;
     height: 90%;
     border-color: #88BBD6;

   }

.background footer {
     background-color: #88BBD6;
     color: white;
     padding: 15px;
}

.background .navbar-inverse .navbar-nav>.active>a {
  background-color: #88BBD6;

}

ol, ul li{
   margin: 10px;
   align: center;

}

ul.nav.navbar-nav {

}

h3 {
  text-align: center;
}

#patient_list {
  text-align: center;
}

.button {
    background-color: #969696; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}



@media screen and (max-width: 767px) {
 .sidenav {
   height: auto;
   padding: 20px;
 }

.row.content {height:auto;}
}
