

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"></li>
        <li>
          <%= form_tag(user_patients_path(@user), :method => "get", id: "search-form") do %>
          <select class="sel" id="criteria">
           <option value="all">All</option>
           <option value="name">Name</option>
           <option value="height">Height</option>
           <option value="weight">Weight</option>
           <option value="phone_number">Phone Number</option>
           <option value="address">Address</option>
           <option value="age">Age</option>
           <option value="sex">Sex</option>
           <option value="email">Email</option>
           <option value="dob">Date of Birth</option>
           <option value="medical_history">Medical History</option>
         </select>
         <%end%>
       </li>



         <form class="navbar-form navbar-left" role="search" id="search_form" name="search" action="/users/<%=current_user.id%>/patients">
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Search">
           </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>


      <li><a href="#"></a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
